<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crear Item</title>
</head>
<body>
<h1>Item List</h1>
<form th:object="${item}" th:action="@{/items}" METHOD="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{version}"/>
    <div>
        <label>Name</label>
        <input type="text" th:field="*{name}"></input>
    </div>
    <div>
        <label>Code</label>
        <input type="text" th:field="*{code}"></input>
    </div>
    <div>
        <label>SubCategory</label>
        <select th:field="*{subCategory}">
            <option th:each="type : ${subCategories}"
                    th:value="${type.id}"
                    th:text="${type.name}"></option>
        </select>
    </div>

    <div>
        <label>Image</label>
        <div>
            <img th:src="@{'/items/' + ${item.id} + '/readimage'}"
                 width="200" height="200"/>
        </div>
        <a href="#" th:href="@{'/items/'+${item.id}+'/image'}">change Image</a>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

</body>
</html>